* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: #222;
    background-color: #fefefe;
    font-family: 'Open Sans', sans-serif;
}

.outer-container {
    margin: 5em auto;
    padding: 1em;
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .3);
    background-color: #fff;

    animation: slideIn 500ms ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(10%) rotate(2deg);
    }

    90% {
        transform: rotate(5deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0) rotate(0deg);
    }
}

.outer-container h1 {
    grid-column: 1 / 2;
    text-align: left;
    font-family: 'Ranga', cursive;
    font-size: 3rem;
    letter-spacing: .1em;
}

.outer-container ul {
    grid-column: 2 / 3;
    list-style: none;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.outer-container ul .main-links {
    padding: .2em .75em;
    font-weight: 500;
    font-size: 1.2rem;
}

.outer-container ul .main-links a {
    text-decoration: none;
    color: inherit;

    position: relative;
}

/* Link underline animation */
.outer-container ul .main-links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background-color: #049b01;
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 205ms ease-in-out;
}

.outer-container ul .main-links a:hover::before {
    transform: scaleX(1);
}

aside {
    grid-column: 1 / 2;
    background-color: #c6deff;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside h2 {
    margin: 1em;
}

aside figure {
    max-width: 250px;
}

aside figure img {
    width: 100%; 
}

aside h2,
main h2 {
    text-align: center;
}

main {
    grid-column: 2 / 3;
    background: linear-gradient(to right, #ff8851, #f78471);
}

main h2 {
    border-bottom: 2px solid #333;
    width: fit-content;
    margin: 0 auto;
    padding: .1em .3em;
}

section {
    margin: 2em 1em;
}

label span {
    display: block;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: .3em;
}

section input {
    width: 100%;
    max-width: 100%;
    font-size: 1.1rem;
    padding: .5em;
}

section button {
    width: 100%;
    max-width: 100%;
    padding: 1em 2em;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    background-color: #049b01;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 4px;
    font-size: 1.1rem;
}

/* Styling for invalid fields */

input:invalid {
    box-shadow: 0 0 3px 3px #ef1c1c;
}

input:focus:invalid {
    outline: none;
}

/* Error message styling */
.error {
    color: #d60000;
    background-color: #ddd;
}

.error.active {
    padding: .1em .5em;
}

/* Mobile layout */
@media screen and (max-width: 47em) {
    .outer-container {
        margin: 0 auto;
        box-shadow: none;
    }

    .outer-container h1 {
        font-size: 1.8rem;
    }

    .outer-container ul .main-links {
        font-size: .96rem;
    }

    main form h2 {
        font-size: 1.3rem;
    }

    label span {
        font-size: 1rem;
    }

    aside,
    main {
        grid-column: 1 / 3;
    }
}